body {
    background-image: url('./img/background.jpg');
    background-size: 100vw 100vh;
}

input.ng-invalid.ng-touched {
    border-color: #fa787e;
}

input.ng-valid.ng-touched {
    border-color: #78fa89;
}
