body {
    background-image: url('./img/background.jpg') ;
    background-size: 100vw 100vh;
}

main {
    margin: auto;
    width: 80%;
    text-align: center;
}

.todo-list {
    overflow: scroll;
}
